import "primitives/std.lib";

component main() -> () {
    cells {
        {% for input in prog['in'] %}
        {{ input }} = prim std_mem_d1( {{ width[prog['in'][input]] }},
                                       {{ size[prog['in'][input]] }},
                                       {{ index_width[prog['in'][input]] }} );
        {% endfor %}

        output =  prim std_mem_d1( {{ width[prog['out']] }},
                                    {{ size[prog['out']] }},
                                    {{ index_width[prog['out']] }} );

        {% for local in prog['locals'] %}
        {{ local }} = prim std_reg( {{ width[prog['locals'][local]] }} );
        {% endfor %}

        {% for cell in cells %}
        {{ cell }}
        {% endfor %}
    }
    wires {
        {% for group in groups %}
        {% if group['lines'] %}
        group {{ group['name'] }} {
            {% for line in group['lines'] %}
                {{ line }}
            {% endfor %}
        }
        {% endif %}
        {% if 'control' in group and 'body' in group['control'] %}
            {% for b in group['control']['body'] %}
        group {{ b['name'] }} {
            {% for line in b['lines'] %}
                {{ line }}
            {% endfor %}
        }
            {% endfor %}
        {% endif %}
        {% endfor %}
    }
    control {
        seq {
        {% for stmt in control %}
          {{ stmt }}
        {% endfor %}
        }
    }
}
